<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="totem" href="/tabs/totem">
      <ion-icon aria-hidden="true" name="ticket-outline"></ion-icon>
      <ion-label>Totem</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="painel" href="/tabs/painel">
      <ion-icon aria-hidden="true" name="tv-outline"></ion-icon>
      <ion-label>Painel</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="atendente" href="/tabs/atendente">
      <ion-icon aria-hidden="true" name="person-outline"></ion-icon>
      <ion-label>Atendente</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="relatorios" href="/tabs/relatorios">
      <ion-icon aria-hidden="true" name="bar-chart-outline"></ion-icon>
      <ion-label>Relatórios</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
